/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./components/ProductDetail.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.ProductDetail_page__x_BNH {
  padding: var(--space-6) 0 var(--space-5);
}

.ProductDetail_layout__Eg6ff {
  display: grid;
  grid-gap: var(--space-4);
  gap: var(--space-4);
}

.ProductDetail_gallery__9yGsT {
  display: grid;
  grid-gap: var(--space-2);
  gap: var(--space-2);
}

.ProductDetail_mediaMain__TJmKH {
  height: 320px;
  border-radius: var(--radius-md);
  border: 1px solid var(--accent);
  background: linear-gradient(135deg, var(--media-color), #ffffff);
  box-shadow: var(--shadow);
}

.ProductDetail_mediaThumbs__7gR4i {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: var(--space-2);
  gap: var(--space-2);
}

.ProductDetail_mediaThumb__4hcMl {
  height: 90px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--accent);
  background: linear-gradient(135deg, var(--media-color), #ffffff);
}

.ProductDetail_details__007jk h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: var(--space-2);
}

.ProductDetail_sku__SniFy {
  color: var(--muted);
  margin-bottom: var(--space-3);
}

.ProductDetail_specs__DkNMA {
  margin-bottom: var(--space-4);
}

.ProductDetail_specs__DkNMA h2 {
  font-size: 1.2rem;
  margin-bottom: var(--space-2);
}

.ProductDetail_specs__DkNMA ul {
  list-style: none;
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  color: var(--muted);
}

@media (min-width: 900px) {
  .ProductDetail_layout__Eg6ff {
    grid-template-columns: 1.1fr 1fr;
    align-items: start;
  }

  .ProductDetail_mediaMain__TJmKH {
    height: 420px;
  }
}

